body, html {
    height: 100%;
}

main.hero {
  background-position: center;
  background-image: url("../img/bgmd.jpg");
  background-size: cover;
  height: 100%;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 4em;
  text-shadow: 4px 4px 6px #f68c9f;
}

.btn-primary {
  margin-top: 20px;
  padding: 20px 40px;
  background-color: #e98f47;
  border-color: #ffdabd;
  border-radius: 15px 50px 30px;
}

.btn-primary:hover {
  background-color: #cc6c1f;
  border-color: #ffdabd;
}


/*media queries*/
@media and screen
